.btn {
    width: 60%;
    padding: 0.6rem; 
    background: #764abc;
    color: #fff;
    font-size: 2rem;
    border-radius: 5px;
    margin-top: 1rem;
    &--goBack {
        color: #764abc;
        background: #fff;
    }
}
