.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    width: 100%;
    padding-bottom: 1rem;
    flex-direction: column;

    &__items {
        max-width: 900px !important;
        background-color: #764abc;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 5vh;
        padding-bottom: 1rem;
        flex-direction: column;
    }

    @media (min-width: 450px) {
        flex-direction: row;
        justify-content: center;

        &__items {
            max-width: 900px !important;
            background-color: #764abc;
            width: 100%;

            .menu_icon {
                display: none;
            }
        }
    }

    &__button {
        background: transparent;
        border-bottom: 2px solid white;
        color: white;
        font-size: 2rem;
        text-decoration: none;
        width: 90vw;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;

        @media (min-width: 450px) {
            width: 20%;
            height: 30px;
            border-bottom: none;
        }
    }

    .menu_icon {
        text-align: left;
        display: block;
        width: 100%;
        padding-left: 1rem;
        padding-top: 0.5rem;
        cursor: pointer;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    .bar1,
    .bar2,
    .bar3 {
        transition: 0.4s;
    }

    .menu_icon div {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
    }
}
