@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #fff;
    height: auto;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.error {
    color: #f00;
    font-size: 1.2rem;
    width: 80%;
}

.notification {
    width: 100%;
    text-align: center;
    margin-top: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    max-width: 900px;
    font-size: 1.3rem;
    &__button {
        a {
            cursor: pointer;
        }
    }
    p {
        margin: 3px;
    }
}
